body {
    background-image: url(bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.dark .dark-bg-body-dark {
    background-image: url(bg-dark.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.dark .dark-text-white {
    color: white !important;
}


.ityped-cursor {
    font-size: 2.2rem;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}

@keyframes blink {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}




